@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,400;0,700;1,100&display=swap');

body {
	margin-left: auto;
	margin-right: auto;
	background-color: #1F1626;
	color: white;
	font-size: 12px;
	font-family: 'Roboto Mono', monospace;font-family: 'Roboto Mono', monospace;
padding: 5px;
	background-repeat: no-repeat;
	background-size: 50px;
	background-position: top right;

}

.grid-logo {
	display: grid;
	grid-template-columns: auto auto auto auto;
	background-color: #873BDB;
	padding: 5px;
	transform:
	perspective(75em)
	rotateX(18deg);
	border-radius: 10px;

}


.logo-write {
	padding-left: 130px;
	position: absolute;
}

.grid-logo-item:hover {
	opacity:1;
}


.grid-logo-item {
	background-color: #DB9470;
padding: 15px;
	font-size: 12px;
	text-align: center;
	border: 1px solid #873BDB;
	opacity: 0.8;
}

.item2 {
	background-color: #708DDB;
}

.item3 {
	background-color: #DBB570;
}

.item4 {
	background-color: #DB7085;
}

.item5 {
	background-color: #708DDB;
}


.grid-i.2 {
	background-color: #708DDB;
}



h3 {
	color: #873BDB;
}


.pink {
	color: #D94085;
}


a {
	color: #2AB250;
	font-weight: bolder;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


.lesson {
	padding: 5px;
	perspective(75em)
	rotateX(18deg);
border-radius: 10px;
	background-color: #1A1320;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.bolden {
	font-size: 15px;
	font-weight: bolder;
}


.card {
	margin-bottom: 12%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}


img {
	width: 100%;
	height: auto;
	perspective(75em)
	rotateX(18deg);
border-radius: 10px;
}

@media only screen and (min-width: 600px) {

	body {
		font-size: 14px;
		background-size: 100px;
}



}

@media only screen and (min-width: 768px) {
	body {
		font-size: 15px;
}



}

hr {
	border: 1px dashed #281c30;
}


.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: #873BDB;
	padding: 10px;
	transform:
	perspective(75em)
	rotateX(18deg);
border-radius: 10px;

}

.grid-item {
	background-color: mediumpurple;
	padding: 20px;
	font-size: 35px;
	text-align: center;
	border: 1px solid #873BDB;
}


.grid-item:hover {
	background-color: #873BDB;
}

.orange {
	color: #FFA238;
	font-weight: bold;
}
